sorry forgot .logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;

}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #060485;
    color:rgb(255, 10, 182); 
    text-align: center;
}
.navbar {
    height: 70px;
    background-color:#9392a5;
    display: flex;
    align-items: center;            
    padding: 0p   , 50 px;
position: sticky;

top:0;
z-index: 1000;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}               
/*logo*/  
.logo {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -1px;
 
    margin-right: 60px;
}                      

/*nav links*/
nav {
    display : flex;
    gap: 30px;
}
nav a { text-decoration: none;
    color:blanchedalmond;
font-size: 15px;
font-weight: 600;
transition: 0.2s;
}
nav a {
    color: rgb(8, 5, 182);
}
.hero-h1 {
    font-size: 200px;
    text-align: center;
    background: linear-gradient(to bottom, #d3f516, #ce0e0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#genre-h2 {
    font-size: 20px;
    text-align: center;

    -webkit-text-fill-color: rgb(252, 251, 251);
    font-weight: bold; 
    text-shadow: 2px 3px 4px rgba(240, 82, 82, 0.8);
}
#adventure {
    background: rgba(234, 250, 11, 0.863);
    -webkit-text-fill-color: rgb(206, 4, 4);
}
.game-card {
    text-align: center;
}
.play-erabreaker {
    -webkit-text-fill-color:rgb(36, 67, 247);
    font-size: bold;
}
.categories {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
#players2 {
background:  #4c02a1;
-webkit-text-fill-color:#3d70fd;
}
.play-fireboy {
    -webkit-text-fill-color: #fc0e0e;
    font-size: bold;
}
.search-button {
 border-radius: 40px;
border-color: #060485;
background-color: #22f822;
}
.login-button {
    border-radius: 60px;
    border-color: #4c02a1;
    background-color: palevioletred;
}

/*genre boxes*/
.categories{
    display: flex;
    gap: 450px;
    margin-bottom: 70px;
}
.category.genre {
    display: flex;
    gap: 15px;
    align-items: left;
    text-align: left;
}
.category-genre {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    background-color: antiquewhite;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    box-shadow:
    3px 10px rgba(0, 0, 0, 0.13);
    transition: 0.2s;
    transform: translateY(-4px);
    background-color: #553c26;
}

